@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://fonts.googleapis.com/css?family=Roboto);

/* zocial */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}

#header-wrapper
	{
		overflow: hidden;
		padding: 2em 0em;
		background: url(images/bg01.jpg) repeat-x center top;
	}

	#header
	{
	}

/*h2 {
  color:red;
  margin-left:12px;
}*/

h1, h2, h3
	{
		margin: auto;
		width: 60%;
		
		padding: 10px;
		
	}

body {
		margin: 0px;
		padding: 0px;
		background: #16A085;
		font-family: 'Questrial', sans-serif;
		font-size: 12pt;
		color: rgba(0,0,0,.6);
  
}

form {
  position:relative;
  margin: 50px auto;
  width: 380px;
  height: auto;
}

/*input {
  padding: 16px;
  border-radius:7px;
  border:0px;
  background: rgba(255,255,255,.2);
  display: block;
  margin: 15px;
  width: 300px;  
  color:white;
  font-size:18px;
  height: 54px;
}*/

/*input:focus {
  outline-color: rgba(0,0,0,0);
  background: rgba(255,255,255,.95);
  color: #e74c3c;
}*/

/*button {
  float:center;
  height: 60px;
  width: 180px;
  border: 10px;
  background: #FF3366;
  border-radius: 0px;
  padding: 0px;
  color:white;
  font-size:15px;
}*/

.button
	{
		display: inline-block;
		margin-top: 2em;
		padding: 0.8em 2em;
		background: #16A085;
		line-height: 1.8em;
		letter-spacing: 1px;
		text-decoration: none;
		font-size: 1em;
		color: #FFF;
	}
	
	.button:before
	{
		display: inline-block;
		background: #8DCB89;
		margin-right: 1em;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #272925;
	}
	
	.button-small
	{
	}

.inputUserIcon {
  position:absolute;
  top:68px;
  right: 80px;
  color:white;
}

.title
	{
		margin-bottom: 3em;
	}
	
	.title h2
	{
		font-size: 2.8em;
	}
	
	.title .byline
	{
		font-size: 1.1em;
		color: #6F6F6F;
	}

.inputPassIcon {
  position:absolute;
  top:136px;
  right: 80px;
  color:white;
}

input::-webkit-input-placeholder {
  color: white;
}

input:focus::-webkit-input-placeholder {
  color: #e74c3c;
}
